body{
    background-color:#fafafa;
}
.div-cabezera, .formulario{
    background-color:#ffffff;
}
.formulario, .div-formulario{
    flex-direction: column;
}
select, button{
    height: 35px;
    border: 1px solid black;
    border-radius: 3px;
}
.div-formulario{
    width: 360px;
}
